*!gitignore
./multithread_cache.sqlite
./__pychache__
*.json
*.pyc
cleaned/article_batch_1.json
cleaned/article_batch_2.json
cleaned/article_batch_3.json
cleaned/article_batch_4.json
cleaned/article_batch_5.json
cleaned/article_batch_6.json
cleaned/article_batch_7.json
cleaned/article_batch_8.json
cleaned/article_batch_9.json
cleaned/article_batch_10.json
cleaned/article_batch_11.json
cleaned/article_batch_12.json
cleaned/article_batch_13.json
cleaned/article_batch_14.json
cleaned/article_batch_15.json
cleaned/article_batch_16.json
cleaned/article_batch_17.json
cleaned/article_batch_18.json
cleaned/article_batch_19.json
cleaned/article_batch_20.json
cleaned/article_batch_21.json
cleaned/article_batch_22.json
cleaned/article_batch_23.json
cleaned/article_batch_24.json
cleaned/article_batch_25.json
cleaned/article_batch_26.json
cleaned/article_batch_27.json
cleaned/article_batch_28.json
cleaned/article_batch_29.json
cleaned/article_batch_30.json
cleaned/article_batch_31.json
cleaned/article_batch_32.json
cleaned/article_batch_33.json
cleaned/article_batch_34.json
cleaned/article_batch_35.json
cleaned/article_batch_36.json
cleaned/article_batch_37.json
cleaned/article_batch_38.json
cleaned/article_batch_39.json
cleaned/article_batch_40.json
cleaned/article_batch_41.json
cleaned/article_batch_42.json
cleaned/article_batch_43.json
cleaned/article_batch_44.json
cleaned/article_batch_45.json
cleaned/article_batch_46.json
cleaned/article_batch_47.json
cleaned/article_batch_48.json
cleaned/article_batch_49.json
cleaned/article_batch_50.json
cleaned/article_batch_51.json
cleaned/article_batch_52.json
cleaned/article_batch_53.json
cleaned/article_batch_54.json
cleaned/article_batch_55.json
cleaned/article_batch_56.json
cleaned/article_batch_57.json
cleaned/article_batch_58.json
cleaned/article_batch_59.json
cleaned/article_batch_60.json
cleaned/article_batch_61.json
cleaned/article_batch_62.json
cleaned/article_batch_63.json
cleaned/article_batch_64.json
cleaned/article_batch_65.json
cleaned/article_batch_66.json
cleaned/article_batch_67.json
cleaned/article_batch_68.json
cleaned/article_batch_69.json
cleaned/article_batch_70.json
cleaned/article_batch_71.json
cleaned/article_batch_72.json
cleaned/article_batch_73.json
cleaned/article_batch_74.json
cleaned/article_batch_75.json
new_batch/article_batch_1.json
new_batch/article_batch_2.json
new_batch/article_batch_3.json
new_batch/article_batch_4.json
new_batch/article_batch_5.json
new_batch/article_batch_6.json
new_batch/article_batch_7.json
new_batch/article_batch_8.json
new_batch/article_batch_9.json
new_batch/article_batch_10.json
new_batch/article_batch_11.json
new_batch/article_batch_12.json
new_batch/article_batch_13.json
new_batch/article_batch_14.json
new_batch/article_batch_15.json
new_batch/article_batch_16.json
new_batch/article_batch_17.json
new_batch/article_batch_18.json
new_batch/article_batch_19.json
new_batch/article_batch_20.json
new_batch/article_batch_21.json
new_batch/article_batch_22.json
new_batch/article_batch_23.json
new_batch/article_batch_24.json
new_batch/article_batch_25.json
new_batch/article_batch_26.json
new_batch/article_batch_27.json
new_batch/article_batch_28.json
new_batch/article_batch_29.json
new_batch/article_batch_30.json
new_batch/article_batch_31.json
new_batch/article_batch_32.json
new_batch/article_batch_33.json
new_batch/article_batch_34.json
new_batch/article_batch_35.json
new_batch/article_batch_36.json
new_batch/article_batch_37.json
new_batch/article_batch_38.json
new_batch/article_batch_39.json
new_batch/article_batch_40.json
new_batch/article_batch_41.json
new_batch/article_batch_42.json
new_batch/article_batch_43.json
new_batch/article_batch_44.json
new_batch/article_batch_45.json
new_batch/article_batch_46.json
new_batch/article_batch_47.json
new_batch/article_batch_48.json
new_batch/article_batch_49.json
new_batch/article_batch_50.json
new_batch/article_batch_51.json
new_batch/article_batch_52.json
new_batch/article_batch_53.json
new_batch/article_batch_54.json
new_batch/article_batch_55.json
new_batch/article_batch_56.json
new_batch/article_batch_57.json
new_batch/article_batch_58.json
new_batch/article_batch_59.json
new_batch/article_batch_60.json
new_batch/article_batch_61.json
new_batch/article_batch_62.json
new_batch/article_batch_63.json
new_batch/article_batch_64.json
new_batch/article_batch_65.json
new_batch/article_batch_66.json
new_batch/article_batch_67.json
new_batch/article_batch_68.json
new_batch/article_batch_69.json
new_batch/article_batch_70.json
new_batch/article_batch_71.json
new_batch/article_batch_72.json
new_batch/article_batch_73.json
new_batch/article_batch_74.json
new_batch/article_batch_75.json
cleanJournalsDump.json
__pycache__/main.cpython-39.pyc
__pycache__/multithread_populating.cpython-39.pyc
multithread_cache.sqlite
multithread_cache.sqlite
__pycache__/main.cpython-39.pyc
__pycache__/multithread_populating.cpython-39.pyc
